body {
  margin: 0;
  background: #e6e6e6;   
  font-family: Tahoma, sans-serif
}

header {
  width: 100%;
  background: #f1f1f1; 
  padding: 20px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2rem;
  color: black;
}

.grid {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    height: 588px;
}

.box {
  width: 250px;
  height: 250px;
  background: #ff7cab;       
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25%;
}

.box img{
  width: 190px;
  height: 190px;
  justify-content: center;
  align-items: center;
}
footer{
    background-color: #f1f1f1;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    font-family: Tahoma;
    color: #7e7e7e;
    text-align: center;
}